/mysite/db.sqlite3
/mysite/media/**
!/mysite/media/user
/mysite/media/user/**
!/mysite/media/user_profile/
/mysite/media/user_profile/**
!/mysite/media/user_profile/default.png
/mysite/mysite/secret_settings.py
mysite/mysite/email_settings.py
/venv/
/venv/**
**/__pycache__/
.venv/
*.mo
.DS_Store