{% extends 'theater/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>Updating ...</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ user }} Profile Info</legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
        </fieldset>
    </form>
</div>
{% endblock content %}