{% extends "theater/base.html" %}
{% load i18n %}
{% block content %}
    {% if validlink %}
        <p>{% trans "enter a new password and repeat."|capfirst %}</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "new password:"|capfirst %}</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "confirm:"|capfirst %}</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="{% trans "change the password"|capfirst %}" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "failed to change password"|capfirst %}</h1>
        <p>{% trans "the password reset link is invalid. please initiate the password reset."|capfirst %}</p>
    {% endif %}
{% endblock %}