{% extends "theater/base.html" %}

{% block content %}
  <h1>Aktoriai</h1>
  <p>Mūsų teatro aktoriai.</p>
  {% for a in actors %}
    <li><a href="{% url 'actor' a.id %}">{{a.first_name}} {{a.last_name}}</a></li>
  {% endfor %}

  <div class="container puslapiai">
    <nav aria-label="...">
        {% if actors.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in actors.paginator.page_range %}
                    {% if actors.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}