{% extends "theater/base.html" %}

{% block content %}
  <h1>{{ object.title }}</h1>

  <p><strong>Režisierius:</strong> <a href="{% url 'director' object.director.pk %}"> {{ object.director }}</a></p>
  <p><strong>Žanras:</strong> {{ object.genre }}</p>  
  <p><strong>Aprašymas:</strong> {{ object.summary }}</p>
  <p><strong>Aktoriai:</strong> {{ object.actor.all|join:", " }}</p> 


  <div style="margin-left:20px;margin-top:20px">

    <h4>Pasirodymai:</h4>

    {% for performance in object.performanceinstance_set.all %}
      <hr>
     <p><strong>Spektaklio diena</strong> {{ performance.performance_date }}</p>
     <p class="text-muted"><strong>{{ performance.status }} </strong></p>
    {% endfor %}
  </div>

{% endblock %}