{% extends "theater/base.html" %}
{% load i18n %}
{% block content %}
  <img src="{{ performance.cover.url }}" style="margin-bottom: 20px;">
  <h1>{{ object.title }}</h1>

  <p><strong>{% trans "director:"|capfirst %}</strong> <a href="{% url 'director' object.director.pk %}"> {{ object.director }}</a></p>
  <p><strong>{% trans "genre:"|capfirst %}</strong> {{ object.genre }}</p>  
  <p><strong>{% trans "summary"|capfirst %}</strong> {{ object.summary }}</p>
  <p><strong>{% trans "actors"|capfirst %}</strong> {{ object.actor.all|join:", " }}</p> 



  <div style="margin-left:20px;margin-top:20px">

    <h4>{% trans "shows"|capfirst %}</h4>

    {% for performance in object.performanceinstance_set.all %}
      <hr>
     <p><strong>{% trans "the day of the show"|capfirst %}</strong> {{ performance.performance_date }}</p>
     <p class="text-muted"><strong>{{ performance.get_status_display }}</strong></p>
     <p><a class="btn btn-success float-left" href="{% url 'attend' performance.id %}">{% trans "booked"|capfirst%}</a></p>
     <br>
    {% endfor %}
  </div>

{% endblock %}