{% extends "theater/base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <h3>{% trans "my booked performances"|capfirst%}</h3>
    <ul class="list-group-item">
        <li class="list-group-item">
            <img class="rounded-circle" src="{{ object.viewer.profile.picture.url }}" width="50">
            {% trans "viewer"|capfirst %}: {{ object.viewer }}<br>
        </li>
        <li class="list-group-item">
            <p><strong>{% trans "performance:"|capfirst %}</strong> {{ object.performance.title}}</p>  
            <p><strong>{% trans "director:"|capfirst %}</strong> {{ object.performance.director }}</p>  
            <p><strong class="{% if object.is_overdue %}text-danger{% endif %}">
            {% trans "booked date"|capfirst %}: {{ object.performance_date }}</p>
        </li>    
    </ul>

</div>
     
{% endblock %}
