{% extends "theater/base.html" %}
{% load i18n %}
{% block content %}
    <h3>{% trans "my booked performances"|capfirst %}</h3>

    {% if performanceinstance_list %}
    <ul>

      {% for performanceinst in performanceinstance_list %} 
      <li class="{% if performanceinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'performance' performanceinst.performance.pk %}">{{performanceinst.performance.title}}</a> ({{ performanceinst.performance_date }}) 
        <a class="btn btn-danger" href="{% url 'cancel' performanceinst.id %}">{% trans "canceled"|capfirst%}</a>
      {% comment %} </li>     <a class="btn btn-success float-left" href="{% url 'cancel' performanceinst.id %}">{% trans "canceled"|capfirst%}</a> {% endcomment %}
      {% endfor %}
    </ul>

    {% else %}
      <p>{% trans "you currently have not booked any performances."|capfirst %}</p>
    {% endif %}       
{% endblock %}