{% extends "theater/base.html" %}

{% block content %}
    <h3>Mano rezervuoti spektakliai</h3>

    {% if performanceinstance_list %}
    <ul>

      {% for performanceinst in performanceinstance_list %} 
      <li class="{% if performanceinst.is_overdue %}text-danger{% endif %}">

        <a href="{% url 'my-performances' performanceinst.id %}">
          <img class="rounded-circle" src="{{ performanceinst.viewer.profile.picture.url }}" width="50"> {{ performanceinst.viewer }}
        </a>
      <li class="{% if performanceinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'performance' performanceinst.performance.pk %}">{{performanceinst.performance.title}}</a> ({{ performanceinst.performance_date }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Šiuo metu nesate rezervavęs spektaklių.</p>
    {% endif %}       
{% endblock %}